.site-lista {
  display: flex;
  flex-direction: row;
  width: 80%;
}

.site-lista ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.site-imagem {
  margin: 5px;
  width: 250px;
  height: 300px;
  box-shadow: 2px 2px 2px 2px rgb(100, 100, 100);
}
.site-imagem:hover {
  box-shadow: 2px 2px 2px 2px rgb(100, 100, 150);
}
.site-titulo {
  text-align: center;
}
