/* variaveis css */

:root {
  --preto: #141414;
  --vermenho: #e50914;
  --branco: #ffffff;
}

/* reset css */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--branco);
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: var(--preto);
}

/* container */

.container {
  margin: 20px 40px 0px 40px;
}

header .container,
header .container-direito,
header .container-esquerdo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--preto);
}

/* logo */

header .container .logo {
  color: var(--vermenho);
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* menu */

header .menu {
  margin-bottom: 10px;
}

header .container-direito .menu {
  margin-left: 20px;
}

header .menu-item {
  margin: 0 10px;
  padding: 5px; /* mais fácil para clicar */
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

header .menu-item:hover {
  color: #bbbbbb;
}

header .menu-imagem-perfil {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  margin-right: 3px;
}

header .menu-item .fas,
header .menu-item #input-busca {
  font-size: 18px;
}

/* ocutar/mostrar input busca */

#input-busca {
  background-color: rgb(50, 50, 50);
  border: 1px solid var(--branco);
}

.ocultar {
  display: none;
}
.mostrar {
  display: inline-block;
}

.rodape {
  display: flex;
  flex-direction: row;
  background-color: rgb(50, 50, 50);
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 14px;
}
.rodape .contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.rodape .contato p,
.rodape .contato a {
  color: rgb(180, 180, 180);
}

.rodape .contato a:hover {
  color: var(--branco);
}
